/* Built-in Selectors */

header {
    width: 25%
}

main {
    width: 50%
}

aside {
    width: 25%;
}

/* Custom Classes */

.watermelon {
    width: 100%;

}

/* Floats */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

/* Positions */ 

.static {
    position: static;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}